<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar sticky-lg-top navbar-dark bg-dark px-5">
        <div class="container-fuild">
            <a class="navbar-brand" href="https://google.com">
                WHOAMI
                </a>
                <!-- <from class="d-flex">
                    <input class="from-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </from> -->
            
         </div>
    </nav>
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <h1 class="py-5 border-bottom mb-5 "> <img src="https://img.freepik.com/free-vector/detailed-travel-logo_23-2148627268.jpg?size=338&ext=jpg" style="height: 100px;"> Jumbotron example</h1>
            </div>
        </div>
        <div class="row mb-3" >
            <div class="col-12">
                <div class="bg-light p-5 rounded-3">
                    <h1>Custom jumbotron</h1>
                    <p>Laboris est anim anim consequat laboris esse do veniam eiusmod quis. Nisi laboris dolore est do id. Id ea Lorem magna voluptate nisi exercitation qui officia cupidatat mollit. Cupidatat amet ex nulla amet consectetur in magna mollit enim cupidatat mollit deserunt sit ea. Exercitation elit consectetur nostrud ullamco nulla. Eiusmod nulla sunt dolor fugiat cupidatat non voluptate magna deserunt fugiat voluptate sint.</p>
                    <button class="btn btn-primary btn-lg">example button</button>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-6">
                <div class="bg-dark p-5 text-white rounded-3">
                    <h1>Custom jumbotron</h1>
                    <p>Laboris est anim anim consequat laboris esse do veniam eiusmod quis. Nisi laboris dolore est do id. Id ea Lorem magna voluptate nisi exercitation qui officia cupidatat mollit. Cupidatat amet ex nulla amet consectetur in magna mollit enim cupidatat mollit deserunt sit ea. Exercitation elit consectetur nostrud ullamco nulla. Eiusmod nulla sunt dolor fugiat cupidatat non voluptate magna deserunt fugiat voluptate sint.</p>
                    <button class="btn btn-outline-light btn-lg">example button</button>
                </div>
            </div>
            <div class="col-6">
                <div class="bg-light p-5 border rounded-3">
                    <h1>Custom jumbotron</h1>
                    <p>Laboris est anim anim consequat laboris esse do veniam eiusmod quis. Nisi laboris dolore est do id. Id ea Lorem magna voluptate nisi exercitation qui officia cupidatat mollit. Cupidatat amet ex nulla amet consectetur in magna mollit enim cupidatat mollit deserunt sit ea. Exercitation elit consectetur nostrud ullamco nulla. Eiusmod nulla sunt dolor fugiat cupidatat non voluptate magna deserunt fugiat voluptate sint.</p>
                    <button class="btn btn-outline-secondary btn-lg">example button</button>
                </div>
            </div>
        </div>
        <div class="row">
            <footer class="col-12">
                <p class="py-2 border-top mt-5">© 2021</p>

            </footer>
            
        </div>

    </div>
</body>
</html>